* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 1500px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 1000px;
}

.pierwszy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 750px;
    background-color: lime;
}

.drugi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: gold;
}

.trzeci {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: tomato;
}

.txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}