* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 1500px;
    background-color: #bbb;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 1000px;
}

.pierwszy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 750px;
    background-color: lime;
    transition: background-color 1s ease;
}

    .pierwszy:hover {
        background-color: gold;
    }

.drugi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: gold;
    transition: background-color 0.5s ease;
}

    .drugi:hover {
        background-color: tomato;
    }

.trzeci {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: tomato;
    transition: background-color 1s ease;
}

    .trzeci:hover {
        background-color: lime;
    }

.textarea {
    text-align: center;
}

.txt {
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}