* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1500px;
    width: 1500px;
    background-color: black;
}

.pierwszy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 900px;
    background-color: lime;
}

.drugi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 750px;
    background-color: gold;
}

.trzeci {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    background-color: tomato;
}